@layer components {
  [data-theme-switcher] {
    --theme-switcher-bg: #f0f0f0;
    --theme-switcher-primary: #000000;
    --theme-switcher-tertiary: #a1a1aa;
    --theme-switcher-border: #ebebeb;

    --theme-switcher-base-size: 1.25rem;
    --theme-switcher-base-radius: 5px;
    --theme-switcher-scale: 1;
    --theme-switcher-option-width: calc(
      var(--theme-switcher-base-size) * var(--theme-switcher-scale)
    );
    --theme-switcher-option-height: calc(
      var(--theme-switcher-base-size) * var(--theme-switcher-scale)
    );
    --theme-switcher-border-radius: calc(
      var(--theme-switcher-base-radius) * var(--theme-switcher-scale)
    );
    --theme-switcher-outer-border-radius: calc(
      var(--theme-switcher-base-radius) * 1.5 * var(--theme-switcher-scale)
    );

    --theme-switcher-unit-gap: 1;
    --theme-switcher-gap: calc(0.25rem * var(--theme-switcher-unit-gap));

    --theme-switcher-padding: calc(0.125rem * var(--theme-switcher-scale));
    --theme-switcher-transition: clip-path 0.25s ease;
  }

  .dark {
    [data-theme-switcher] {
      --theme-switcher-bg: #363636;
      --theme-switcher-primary: #ffffff;
      --theme-switcher-tertiary: #74747b;
      --theme-switcher-border: #2e2e2d;
    }
  }

  @media (prefers-color-scheme: dark) {
    [data-theme-switcher] {
      --theme-switcher-bg: #363636;
      --theme-switcher-primary: #ffffff;
      --theme-switcher-tertiary: #74747b;
      --theme-switcher-border: #2e2e2d;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    [data-theme-switcher] {
      --theme-switcher-transition: none;
    }
  }

  .theme-switcher {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--theme-switcher-border);
    border-radius: var(--theme-switcher-outer-border-radius);
    padding: var(--theme-switcher-padding);
  }

  [data-theme-switcher][data-tw-size="small"] {
    --theme-switcher-base-size: 1rem;
    --theme-switcher-base-radius: 0.35rem;
  }

  [data-theme-switcher][data-tw-size="medium"] {
    --theme-switcher-base-size: 1.25rem;
    --theme-switcher-base-radius: 0.38rem;
  }

  [data-theme-switcher][data-tw-size="large"] {
    --theme-switcher-base-size: 1.5rem;
    --theme-switcher-base-radius: 0.41rem;
  }

  [data-theme-switcher] svg {
    width: calc(0.7 * var(--theme-switcher-option-width));
    height: calc(0.7 * var(--theme-switcher-option-height));
  }

  [data-theme-switcher] [data-wrapper] {
    position: relative;
    display: flex;
    gap: var(--theme-switcher-gap);
    justify-content: center;
    border: none;
    padding: 0;
    margin: 0;
  }

  [data-theme-switcher] [data-wrapper][data-background] {
    background-color: var(--theme-switcher-bg);
  }

  [data-theme-switcher] [data-option] {
    width: var(--theme-switcher-option-width);
    height: var(--theme-switcher-option-height);
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: var(--theme-switcher-border-radius);
    color: var(--theme-switcher-primary);
  }

  [data-theme-switcher] [data-input] {
    display: none;
  }

  [data-theme-switcher] [data-label] {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  [data-theme-switcher] [data-label="tertiary"] {
    color: var(--theme-switcher-tertiary);
  }

  [data-theme-switcher] [data-label="primary"],
  [data-theme-switcher] [data-label]:hover {
    color: var(--theme-switcher-primary);
  }

  [data-theme-switcher] [data-indicator] {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    width: fit-content;
    pointer-events: none;
    clip-path: inset(0 100% 0 0 round var(--theme-switcher-border-radius));
  }

  [data-theme-switcher] [data-indicator][data-transition="true"] {
    transition: var(--theme-switcher-transition) !important;
  }

  [data-theme-switcher] [data-sr-only] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
